/Informe Laboratorio 1 (Opticas).pdf
/Informe Laboratorio 2 (Opticas).pdf
/Informe Laboratorio 3 (Opticas).pdf
/Informe Laboratorio 4 (Opticas).pdf
/Lab6v1.py
/mon_long.png
/PÉRDIDAS POR ALINEAMIENTO EN UNIONES DE FIBRA ÓPTICA.pdf
/__pycache__